@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
}

@layer base {
  html {
    font-size: 16px;
    @apply antialiased;
  }

  /* body {
    @apply bg-white text-gray-900 leading-relaxed;
  } */

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-normal tracking-tight text-gray-900;
  }

  /* p {
    @apply font-sans text-gray-700 text-sm leading-relaxed;
  } */

  /* a {
    @apply text-gray-900 hover:text-gray-600 transition-colors duration-200;
  } */
  .link-underline {
    @apply border-b border-gray-600 hover:border-blue-600 transition-colors duration-200;
  }
}

html {
  scroll-behavior: smooth;
}

@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
  }
}

.prose {
  @apply max-w-none;
}

.prose a {
  @apply border-b border-gray-300 hover:border-gray-600 transition-colors duration-200;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-serif font-normal tracking-tight text-gray-900 mt-8 mb-4;
}

.prose h1 {
  @apply text-3xl;
}

.prose h2 {
  @apply text-2xl;
}

.prose h3 {
  @apply text-xl;
}

.prose p,
.prose ul,
.prose ol {
  @apply mb-4 text-sm;
}

.prose code {
  @apply bg-gray-100 rounded px-1 py-0.5 text-sm font-mono;
}

.prose pre {
  @apply bg-gray-100 rounded p-4 overflow-x-auto;
}

.skeleton {
  @apply animate-pulse bg-gray-200 rounded;
}

pre {
  background-color: #16161e;
  border-radius: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  line-height: 1;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: 14px;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: var(--color-gray-100);
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.5;
}

pre code > span .sh__token--identifier {
  color: white !important;
}

code:not(pre code) span {
  font-weight: 500;
  color: black !important;
}

pre code span {
  font-weight: 500;
}

hr {
  color: var(--color-gray-200);
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.transition-element {
  view-transition-name: lee;
}

::view-transition-old(lee) {
  animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(lee) {
  animation: fade-in-up 0.4s ease-in-out;
}

@layer utilities {
  .container-wide {
    @apply max-w-5xl lg:max-w-6xl xl:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
